*/*/lib
lib/**
out/**
docs/api_guide
docs/design_doc
docs/user_guide
docs/datasheet
internal_docs/*/output.txt
internal_docs/*/*/*/output.txt
apps/tap/tapif
generated/
obj/
*.out
*.appimage
*.appimage.*
*.appimage_hs_fs
*.appimage_xip
*.map
*.rprc
*.rprc_xip