# ETHFW Promotion - Branch Configuration
# This file defines which repositories to promote (next -> main)

[ethfw]
clone_link = ssh://git@bitbucket.itg.ti.com/processor-sdk-vision/ethfw.git
next_branch = master
prod_branch = main

[enet-lld]
clone_link = ssh://git@bitbucket.itg.ti.com/processor-sdk/enet-lld.git
next_branch = master
prod_branch = main

[enet-tsn-stack]
clone_link = ssh://git@bitbucket.itg.ti.com/processor-sdk/enet-tsn-stack.git
next_branch = next
prod_branch = prod

