# Bitbucket Configuration
BITBUCKET_URL=https://bitbucket.itg.ti.com
BITBUCKET_USERNAME=
BITBUCKET_PASSWORD=
BB_TOKEN=
# LiteLLM Gateway Configuration
LITELLM_GATEWAY_URL=https://llmgateway.itg.ti.com
LITELLM_API_KEY=
LITELLM_MODEL=claude-sonnet-4-ep
# Jenkins Configuration
JENKINS_USERNAME=
JENKINS_PROC_URL=https://jenkins-proc.itg.ti.com/
JENKINS_PROC_PASSWORD=
JENKINS_EPSW_URL=https://jenkins-epsw.itg.ti.com/
JENKINS_EPSW_PASSWORD=
